/* navigation bar */
nav {
    display: block;
    background-color: #4f5e63;
    padding: 14pt;
    animation: nav 2s ;
    -webkit-animation: nav 2s ;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    display: inline;
    border-radius: 4px;
    padding-left: 50pt;
    width: 100%;
}

@keyframes nav {
    from {
        margin-left:-150%; 
        padding-left: 0pt;
    }
    to {
        margin-left: -5%;
        padding-left: 500pt;
    }
}

nav a {
    padding-left: 10pt;
    padding-right: 10pt;
    text-decoration: none;
    color: white;
    font-size: 15pt;
    /* this font is here temporarily, to soothe my eyes */
    font-family: Arial, Helvetica, sans-serif;
    /* I'll remove the font once you pry it from my cold hands */
    position: relative;
}

.active {
    background-color: #000000;
    padding-top: 19px;
    padding-bottom: 19px;
}
/* footer */
footer {
    background-color: #006847;
    align-content: bottom;
    padding: 20px;
}

body {
    /* background-color: #006847; */
}

/* Slide show animation stuff
make sure to make changes to both the normal animation parts
and to the -webkit- to ensure compatibility */

.slides {
    width: 100%;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 3s;
    animation-name: slide;
    animation-duration: 3s;
    position: relative;
    display: none;
}

@keyframes slide {
    from {
        left: 0%;
    }
    to {
        left: 120%;
    }
}

@-webkit-keyframes slide {
    from {
        left: 0%;
    }
    to {
        left: 120%;
    }
}