/* navigation bar */
nav {
    display: block;
    background-color: #4f5e63;
    padding: 14pt;
    animation: nav 2s ;
    -webkit-animation: nav 2s ;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    display: inline;
    border-radius: 4px;
    padding-left: 5p0t;
    width: 100%;
}

@keyframes nav {
    from {
        margin-left:-150%; 
        padding-left: 0pt;
    }
    to {
        margin-left: -5%;
        padding-left: 100pt;
    }
}

nav a {
    padding-left: 50pt;
    padding-right: 50pt;
    text-decoration: none;
    color: white;
    font-size: 20pt;
    /* this font is here temporarily, to soothe my eyes */
    font-family: Arial, Helvetica, sans-serif;
    /* I'll remove the font once you pry it from my cold hands */
    position: relative;

}

nav a:hover {
    background-color: #009945;
    padding-top: 19px;
    padding-bottom: 19px;
    overflow: hidden;
}

.active {
    background-color: #000000;
    padding-top: 19px;
    padding-bottom: 19px;
}

#usflogo {
}

#mumalogo {
    height: 69px;
    margin-top: -19px;
    margin-bottom: -25px;
    margin-left: -45px;
    margin-right: -4px;
}

/* footer */
footer {
    background-color: #006847;
    align-content: bottom;
    padding: 20px;
}

body {
    /* background-color: #006847; */
}

/* Slide show animation stuff
make sure to make changes to both the normal animation parts
and to the -webkit- to ensure compatibility */

.slides {
    width: 300px;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 8s;
    animation-name: slide;
    animation-duration: 8s;
    display: none;
    position: absolute;

}

.slideshow {
    position: absolute;
    width:500px;
    height: 300px;
}

@keyframes slide {
    0% {
        opacity:0;
    }
    30% {
        opacity:1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes slide {
    from {
opacity:0; 
    }
    to {
        opacity:1;
    }
}